In [8]:
import pandas as pd
import matplotlib.pyplot as plt

pickup_dt: Date and time of the data point.

borough: The borough in New York City (e.g., Bronx, Brooklyn, Manhattan, etc.).

pickups: The number of pickups recorded for that hour in the borough.

spd: Speed (assuming it's related to wind speed).

vsb: Visibility (assuming it's related to visibility conditions).

temp: Temperature.

dewp: Dew point.

slp: Sea level pressure.

pcp01: Precipitation in the last hour.

pcp06: Precipitation in the last 6 hours.

pcp24: Precipitation in the last 24 hours.

sd: Snow depth.

hday: A flag or indicator (perhaps for a holiday).

In [9]:
df = pd.read_csv("Resources/clean.csv")
df

,pickup_date,pickup_time,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
0,2015-01-01,01:00:00,Bronx,152,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
1,2015-01-01,01:00:00,Brooklyn,1519,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
2,2015-01-01,01:00:00,EWR,0,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
3,2015-01-01,01:00:00,Manhattan,5258,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
4,2015-01-01,01:00:00,Queens,405,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26053,2015-06-30,23:00:00,Brooklyn,990,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26054,2015-06-30,23:00:00,EWR,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26055,2015-06-30,23:00:00,Manhattan,3828,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26056,2015-06-30,23:00:00,Queens,580,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26057,2015-06-30,23:00:00,Staten Island,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26058 entries, 0 to 26057
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pickup_date  26058 non-null  object
 1   pickup_time  26058 non-null  object
 2   borough      26058 non-null  object
 3   pickups      26058 non-null  int64
 4   spd          26058 non-null  float64
 5   vsb          26058 non-null  float64
 6   temp         26058 non-null  float64
 7   dewp         26058 non-null  float64
 8   slp          26058 non-null  float64
 9   pcp01        26058 non-null  float64
 10  pcp06        26058 non-null  float64
 11  pcp24        26058 non-null  float64
 12  sd           26058 non-null  float64
 13  hday         26058 non-null  object
dtypes: float64(9), int64(1), object(4)
memory usage: 2.8+ MB

In [11]:
hourly_pickup_patterns = df.groupby('pickup_time')['pickups'].size()
hourly_pickup_patterns

pickup_time
00:00:00    1080
01:00:00    1086
02:00:00    1086
03:00:00    1086
04:00:00    1086
05:00:00    1086
06:00:00    1086
07:00:00    1086
08:00:00    1086
09:00:00    1086
10:00:00    1086
11:00:00    1086
12:00:00    1086
13:00:00    1086
14:00:00    1086
15:00:00    1086
16:00:00    1086
17:00:00    1086
18:00:00    1086
19:00:00    1086
20:00:00    1086
21:00:00    1086
22:00:00    1086
23:00:00    1086
Name: pickups, dtype: int64

In [12]:
daily_pickup_patterns = df.groupby('pickup_date')['pickups'].size()
daily_pickup_patterns

pickup_date
2015-01-01    138
2015-01-02    144
2015-01-03    144
2015-01-04    144
2015-01-05    144
             ...
2015-06-26    144
2015-06-27    144
2015-06-28    144
2015-06-29    144
2015-06-30    144
Name: pickups, Length: 181, dtype: int64